fastapi
uvicorn[standard]
opencv-python-headless     # Use headless resize image (No GUI)
mediapipe                  # BlazeFace model
pika                       # For RabbitMQ
psutil                     # For Prometheus metrics
prometheus_client
ultralytics
insightface
onnxruntime-gpu
numpy