fastapi
uvicorn[standard]
opencv-python-headless     # Use headless resize image (No GUI)
pika                       # For RabbitMQ
psutil                     # For Prometheus metrics
prometheus_client
ultralytics
onnxruntime-gpu
numpy